[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Antonio Astorino
	email = antonio.astorino.phd@gmail.com
[init]
	defaultBranch = main
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[core]
	autocrlf = false
	editor = vim
